<!DOCTYPE html>
<html>

<head>

    <title>AI Study Assistant</title>

    <link rel="stylesheet"
    href="/static/css/style.css">

</head>

<body>

<div class="container">

    <h1>AI Study Assistant</h1>


    <div class="summary-box">

        <h2>Summary</h2>

        <p>{{ summary }}</p>

    </div>

    <br>


    <h2>Key Concepts</h2>

    <div class="summary-box">

        {% for concept in concepts %}

            <p>• {{ concept }}</p>

        {% endfor %}

    </div>

    <br>


    <h2>Study Mode</h2>

    <div class="summary-box">

        <div id="study-card" class="flashcard">

            <p id="question">

                <b>Q:</b>

                {{ flashcards[0]["question"] }}

            </p>

            <div
            id="answer"
            class="answer">

                <b>A:</b>

                {{ flashcards[0]["answer"] }}

            </div>

        </div>

        <br>

        <button onclick="nextCard()">

            Next Card

        </button>

    </div>

    <br>


    <h2>Quiz Questions</h2>

    <div class="summary-box">

        {% for question in quiz %}

            <p>{{ question }}</p>

        {% endfor %}

    </div>

    <br>


    <h2>Ask Your Notes</h2>

    <div class="summary-box">

        <form
        action="/ask"
        method="POST">

            <input
            type="text"
            name="question"
            placeholder="Ask something about your notes..."
            required>

            <br><br>

            <button type="submit">

                Ask

            </button>

        </form>

    </div>

    <br>


    <a href="/">

        <button>

            Upload Another PDF

        </button>

    </a>

</div>


<script id="flashcards-data" type="application/json">
{{ flashcards|tojson|safe }}
</script>

<script>

let current = 0;

const studyCards = JSON.parse(
document.getElementById(
"flashcards-data"
).textContent
);

function nextCard(){

    current++;

    if(current >= studyCards.length){

        current = 0;

    }

    document.getElementById(
        "question"
    ).innerHTML =
    "<b>Q:</b> " +
    studyCards[current].question;


    document.getElementById(
        "answer"
    ).innerHTML =
    "<b>A:</b> " +
    studyCards[current].answer;

}

</script>

</body>

</html>